.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div:last-child {
  padding-block-end: 32px;
}

.columns > div > div :where(h2, p) {
  margin: 0 var(--space-8);
}

.columns > div > .columns-img-col {
  display: block;
  block-size: 100%;
}

.columns > div > .columns-img-col img {
  display: block;
  block-size: 100%;
  object-fit: cover;
}

.columns > div > div :where(h2, p) {
  margin: 0 var(--space-8);
}

.columns.media-split picture img {
  margin: auto;
}

.columns.calcite-mode-gray {
  background-color: var(--calcite-ui-foreground-2);
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
  }

  .columns:not(.media-split) > div {
    block-size: 600px;
  }

  .columns > div > div {
    flex: 1;
  }

  .columns > div > div:nth-of-type(2) :where(h2, p)  {
    margin-inline: 0 auto;
  }
  
  .columns > div > div :where(h2, p) {
    max-inline-size: 720px;
    margin-inline-start: auto;
    padding-inline: var(--space-12);
  }
}

.columns.media-split {
  & > div > div:first-child {
    padding-inline: 0;
    margin-block: 0;
  }

  & > div > div p:first-child {
    font-weight: var(--calcite-font-weight-bold);
    text-transform: uppercase;
    color: var(--calcite-ui-text-2);
    font-size: var(--font-minus-2);
    margin-block-end: var(--space-2);
  }

  & > div > div h2 {
    margin-block-end: var(--space-2);
  }
}