.columns > div {
  display: flex;
}

.columns > div:has(div > :is(h2, p)) {
  flex-direction: column-reverse;
}

.columns > div:has(div:nth-of-type(1) > :is(h2, p)) {
  flex-direction: column;
}

.columns > div > div:last-child {
  padding-block-end: 32px;
}

.columns > div > div :where(h2, p) {
  margin: 0 var(--space-8);
}

.columns > div > .columns-img-col {
  block-size: 100%;
  display: block;
}

.columns > div > .columns-img-col img {
  block-size: 100%;
  display: block;
  object-fit: cover;
}

.columns.calcite-mode-gray {
  background-color: var(--calcite-ui-foreground-2);
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
  }

  .columns > div:has(div > :is(h2, p), div:nth-of-type(1) > :is(h2, p)) {
    flex-direction: row;
  }

  .columns:not(.media-split) > div {
    block-size: 600px;
  }

  .columns > div > div {
    flex: 1;
  }

  .columns > div > div:nth-of-type(2) :where(h2, p) {
    margin-inline: 0 auto;
  }

  .columns > div > div :where(h2, p) {
    margin-inline-start: auto;
    max-inline-size: 720px;
    padding-inline: var(--space-12);
  }
}

.columns.media-split {
  & > div > div:first-child {
    margin-block: 0;
    padding-inline: 0;
  }

  & > div > div p:first-child {
    color: var(--calcite-ui-text-2);
    font-size: var(--font-minus-2);
    font-weight: var(--calcite-font-weight-bold);
    margin-block-end: var(--space-2);
    text-transform: uppercase;
  }

  & > div > div h2 {
    margin-block-end: var(--space-2);
  }
}
