/* Basics for content */
.storyteller-container {
  margin-block: var(--space-20);
}

/* Main container for the layout */
.storyteller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-20);
  padding-inline: var(--space-8);
  overflow: hidden;

  h2 {
    font-size: var(--font-5);
  }

  p {
    font-size: var(--font-1);
  }

  img {
    inline-size: 100%;
    max-inline-size: 576px;
    aspect-ratio: 4 / 5;
  }

  .content {
    inline-size: 50%;
  }

  .media {
    inline-size: 50%;
    position: relative;
  }

  /* Hide the first image on mobile
  :is(p:first-of-type img, .foreground-container img) {
    display: none;
  } */

  /* Inside the secondary content section */
  .overlay {
    align-self: end;
    inline-size: 90%;
    max-inline-size: 450px;
    padding: var(--space-6);
    color: var(--calcite-ui-text-1);
    background-color: var(--esri-ui-opacity85);

    h2 {
      font-size: var(--font-1);
      margin-block-end: var(--space-2);
      font-weight: var(--calcite-font-weight-bold);
    }

    p {
      font-size: var(--font-0);
      margin: 0;
    }
  }

  .video-play-button {
    border: 1px solid #fff;
    display: flex;
    cursor: pointer;
    padding: 0 14px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      inline-size: 20px;
      block-size: 20px;
      display: inline-block;
      background-size: 20px 20px;
      background-color: #fff;
      mask: url("data:image/svg+xml;base64,PHN2ZyBpZD0iRXhwb3J0YWJsZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMWQxZDFmfTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJwYXVzZSI+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIzLjc1IiB5PSIzIiB3aWR0aD0iNC41IiBoZWlnaHQ9IjE0IiByeD0iMS41Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIxMS43NSIgeT0iMyIgd2lkdGg9IjQuNSIgaGVpZ2h0PSIxNCIgcng9IjEuNSIvPjwvZz48L3N2Zz4=");
    }

    &.paused::after {
      mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTUgMTUuMjVWNC43N2ExLjQ0IDEuNDQgMCAwMTEuNDQtMS42MiAxLjg2IDEuODYgMCAwMTEuMTEuMzFsOC41MyA1Yy43Ni40NCAxLjE3LjggMS4xNyAxLjUxcy0uNDEgMS4wNy0xLjE3IDEuNTFsLTguNTMgNWExLjg2IDEuODYgMCAwMS0xLjExLjMxQTEuNDIgMS40MiAwIDAxNSAxNS4yNXoiLz48L3N2Zz4=");
    }
  }
}
