.storyteller-wrapper {
  display: flex;
  margin-block-end: var(--space-20);
}

.storyteller {
  overflow: hidden;
  min-block-size: 1100px;
}

.storyteller h2 {
  font-size: var(--font-6);
  padding-inline: var(--space-6);
}

.storyteller .foreground-container {
  position: absolute;
}

.storyteller button.video-playbutton {
  z-index: 1;
  border: none;
  color: white;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  background-color: black;
  border-radius: var(--space-2);
  margin-block-start: var(--space-2);
  padding: var(--space-2) var(--space-3);
}

.storyteller.content-right > div {
  display: flex;
  flex-direction: column-reverse;
}

.storyteller p:nth-of-type(1) {
  font-size: var(--font-2);
  padding-inline: var(--space-6);
}

.storyteller .foreground-content .content-wrapper p {
  font-size: var(--font-0);
  padding-inline-start: var(--space-6);
}

.storyteller.content-right p:nth-of-type(1) {
  inline-size: 90%;
}

.storyteller .foreground-content .content-wrapper, .storyteller.content-right .foreground-content .content-wrapper   {
  opacity: 0.85;
  align-self: end;
  inline-size: auto;
  position: absolute;
  color: var(--calcite-ui-text-1);
  background-color: var(--calcite-ui-background);
}

.storyteller p.button-container {
  padding-inline-start: var(--space-6);
}

.storyteller.content-right h2, .storyteller.content-right p:nth-of-type(1), .storyteller.storyteller.content-right p.button-container {
  padding-inline-start: 0;
}

.storyteller.content-right .content-wrapper p {
  padding-inline-start: var(--space-6);
}

.storyteller.content-right div:nth-of-type(2) p {
  inline-size: 75%;
}

.storyteller .foreground-content .content-wrapper h2 {
  margin-block-end: 0;
  font-size: var(--font-2);
  padding-inline-start: var(--space-6);
}

.storyteller p.button-container a.button {
  text-decoration: none;
  padding: var(--space-4);
  font-size: var(--font-1); 
  margin-block-start: var(--space-2);
}

.storyteller div div:nth-of-type(2) p:nth-of-type(1) picture img {
  block-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.storyteller.content-right div:nth-of-type(1) p:nth-of-type(1) picture img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  block-size: revert-layer;
}

.storyteller.content-right div div:nth-of-type(2) {
  block-size: auto;
  padding-inline-start: var(--space-6);
}

.storyteller p picture {
  display: block;
  padding-inline-start: var(--space-20);
}

.storyteller .foreground-container a, .storyteller .foreground-container picture, .storyteller p:nth-of-type(1) picture, .storyteller picture.hide-poster {
  display: none;
}

.storyteller .foreground-content {
  display: flex;
  block-size: 100%;
  position: relative;
  padding-inline-start: var(--space-6);
}

.storyteller div p:nth-of-type(2) video {
  inline-size: 500px;
  position: relative;
}

.storyteller div div:nth-of-type(2) p:nth-of-type(1) picture {
  block-size: 100%;
  position: absolute;
} 

@media (width >= 1152px) { 
  .storyteller {
    padding: 0 ;
    position: relative;
  }
  
  .storyteller h2, .storyteller p:nth-of-type(1) {
    padding-inline: var(--space-20) var(--space-16);
  }

  .storyteller p.button-container {
    padding-inline-start: var(--space-20);
  }

  .storyteller:not(.content-right) div > div:nth-of-type(1) p:nth-of-type(2), .storyteller:not(.content-right) div > div:nth-of-type(1) p:nth-of-type(4), .storyteller:not(.content-right) div > div:nth-of-type(1) p:nth-of-type(6) {
    font-size: var(--font-0);
    font-weight: var(--calcite-font-weight-medium);
    padding-inline: var(--space-20) var(--space-16);
  }

  .storyteller:not(.content-right) div > div:nth-of-type(1) p:nth-of-type(3), .storyteller:not(.content-right) div > div:nth-of-type(1) p:nth-of-type(5), .storyteller:not(.content-right) div > div:nth-of-type(1) p:nth-of-type(7) {
    font-size: var(--font-0);
    padding-inline: var(--space-20) var(--space-16);
  } 

  .storyteller p picture {
    padding-inline-start: 0;
  }

  .storyteller p:nth-of-type(1) picture {
    display: block;
  }

  .storyteller > div {
    display: flex;
    block-size: 100%;
    inline-size: 100%;
    align-items: center;
    flex-direction: row;
  }

  .storyteller.content-right div {
    flex-direction: row;
  }

  .storyteller div div:nth-of-type(1), .storyteller div div:nth-of-type(2) {
    inline-size: 50%;
  }
  
  .storyteller div div:nth-of-type(2) {
    block-size: 100%;
  }

  .storyteller div div:nth-of-type(2) p:nth-of-type(2) picture {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  .storyteller.content-right div div:nth-of-type(2) {
    display: block;
    block-size: auto;
    inline-size: 50%;
    padding-inline-start: var(--space-20);
  }

  .storyteller.content-right h2 {
    inline-size: 75%;
    padding-inline-start: 0;
  }
  
  .storyteller .foreground-container {
    position: absolute;
    overflow: hidden;
    inset-block: 50% 0;
    transform: translateY(-50%);
  }

  .storyteller.content-right .foreground-container {
    position: absolute;
    overflow: visible clip;
    inset-inline: 50% 0;
  }

  .storyteller .foreground-content {
    padding-inline-start: 0;    
  }

  .storyteller.content-right .foreground-content {
    display: flex;
    block-size: 100%;
    inline-size: 100%;
    position: relative;
    justify-content: end;
  }
  
  .storyteller div div:nth-of-type(2) .foreground-content {
    inline-size: 500px;
  }
  
  .storyteller.content-right div div:nth-of-type(1) {
    position: relative;
  }

  .storyteller div p:nth-of-type(2) video {
    inset-block-end: 0;
  }

  .storyteller div p:nth-of-type(2) video, .storyteller.content-right div p:nth-of-type(2) video {
    position: absolute;
  }
  
  .storyteller .foreground-content .content-wrapper, .storyteller.content-right .foreground-content .content-wrapper   {
    inline-size: 500px;
    position: absolute;
  }
}