.form.block {
  color: var(--calcite-ui-text-1);
  background-color: var(--calcite-ui-foreground-1);

  & > div.one-form {
    inline-size: 1440px;
    max-inline-size: 96vw;
    margin: auto;

    & div:first-child {
      h2 {
        color: var(--calcite-ui-text-1);
        font-size: var(--font-4);
        margin-block-end: var(--space-2);
      }

      p {
        color: var(--calcite-ui-text-1);
        font-size: var(--font-0);
        margin-block: 0 var(--space-6);
      }
    }
  }

  &.card-modal {
    & > div.one-form {
      display: none;
    }

    .card-modal-content {
      img {
        filter: brightness(0) saturate(100%) invert(67%) sepia(69%) saturate(375%) hue-rotate(121deg) brightness(103%) contrast(86%);
      }
    }
  }

  & > div {
    padding-block-start: var(--space-12);
  }
}
