.form.block {
  background-color: var(--calcite-ui-foreground-1);
  color: var(--calcite-ui-text-1);
  position: relative;

  & > div.one-form {
    inline-size: 1440px;
    margin: auto;
    max-inline-size: 96vw;
    padding-block-start: 0;

    & div:first-child {
      h2 {
        color: var(--calcite-ui-text-1);
        font-size: var(--font-4);
        margin-block-end: var(--space-2);
      }

      p {
        color: var(--calcite-ui-text-1);
        font-size: var(--font-0);
        margin-block: 0 var(--space-6);
      }
    }

    .submit-button-row {
      block-size: auto;
    }
  }

  &.card-modal {
    & > div.one-form {
      display: none;
    }

    .card-modal-content {
      img {
        filter: brightness(0) saturate(100%) invert(67%) sepia(69%) saturate(375%) hue-rotate(121deg) brightness(103%) contrast(86%);
      }
    }
  }

  & > div {
    padding-block-start: var(--space-12);
  }

  .web-dev-loader {
    /* stylelint-disable-next-line declaration-no-important */
    position: absolute !important;
  }
}

.section.form-container > .default-content-wrapper {
  inline-size: 1440px;
  margin: auto;
  max-inline-size: 632px;
  text-align: center;

  & > :where(h2, p) {
    inline-size: 100%;
    margin: 0 auto;
  }

  & > h2 {
    margin-block-end: var(--space-6);
  }

  & > p {
    margin-block-end: var(--space-4);
  }
}
