.elastic-content-strip.block {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  inline-size: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.elastic-content-link-wrapper:hover {
  text-decoration: none;
}

.elastic-content-link-wrapper p {
  color: var(--calcite-ui-text-1);
}

.elastic-content-link-wrapper calcite-link {
  --calcite-ui-text-link: var(--calcite-ui-text-1);
  --calcite-link-blue-underline: transparent;
}

.elastic-content-link-wrapper > div {
  inline-size: 85%;
  margin-inline: auto;
}

.elastic-content-strip.block h2 {
  color: var(--calcite-ui-text-1);
  font-size: var(--font-3);
  font-weight: var(--calcite-font-weight-normal);
  margin-block: var(--space-8);
}

.elastic-content-strip.block span {
  align-items: center;
  display: flex;
  margin: auto;
}

.elastic-content-strip.block > div {
  background-image: url("/assets/location-overview-programs-background.jpeg");
  background-position: center;
  background-size: cover;
  color: var(--calcite-ui-text-1);
  flex: 1 0 100%;
  inline-size: 100%;
  padding-block: var(--space-20);
  padding-inline: var(--space-5);
  text-align: center;
  transition: all .25s ease-in-out;
}

.elastic-content-strip.block > div:hover {
  box-shadow: 0 0 0 10px inset var(--esri-ui-opacity80);
  text-decoration: none;
}

.elastic-content-strip.block > div > div {
  align-self: center;
  inline-size: 85%;
  margin: auto;
  position: relative;
  z-index: 3;
}

@media (width > 640px) {
  .elastic-content-strip.block > div {
    flex: 0 0 50%;
    max-inline-size: 50%;
  }

  .elastic-content-strip.block > div:last-child:nth-child(odd) {
    flex: 0 0 100%;
    max-inline-size: 100%;
  }
}

@media (width > 900px) {
  .elastic-content-strip.block > div:is(
    :first-child:nth-last-child(3), 
  :first-child:nth-last-child(3)~div, 
  :first-child:nth-last-child(5), 
  :first-child:nth-last-child(5)~div, 
  :first-child:nth-last-child(6),
  :first-child:nth-last-child(6)~div
  ) {
    flex: 0 0 33.33%;
    max-inline-size: 33.33%;
  }

  .elastic-content-strip.block > div:is(:first-child:nth-last-child(5) + div + div + div, :first-child:nth-last-child(5) + div + div + div + div) {
    flex: 0 0 50%;
    max-inline-size: 50%;
  }
}

@media (width > 1024px) {
  .elastic-content-strip.block > div:is(:first-child:nth-last-child(4), :first-child:nth-last-child(4)~div) {
    flex: 0 0 25%;
    max-inline-size: 25%;
  }
}

@media (width > 1280px) {
  .elastic-content-strip.block > div:is(:first-child:nth-last-child(5), :first-child:nth-last-child(5)~div, #fake) {
    flex: 0 0 20%;
    max-inline-size: 20%;
  }

  .elastic-content-strip.block > div:is(:first-child:nth-last-child(6), :first-child:nth-last-child(6)~div) {
    flex: 0 0 16.66%;
    max-inline-size: 16.66%;
  }
}