.section.map-container {
  background-attachment: var(--bg-img-attachment);
  background-image: var(--bg-overlay), var(--bg-img);
  background-position: var(--bg-img-position);
  background-position-x: center;
  background-position-y: center;
  background-repeat: var(--bg-img-repeat);
  background-size: var(--bg-img-size);
  margin-block: 0;
  padding-block: 3rem;

  --bg-gradient-dir: to right;
  --bg-gradient-start: var(--bg-color);
  --bg-gradient-end: transparent;
  --bg-gradient-transition: min(20vw, 60%);
  --bg-gradient: linear-gradient(var(--bg-gradient-dir), var(--bg-gradient-start), var(--bg-gradient-start) var(--bg-gradient-transition), var(--bg-gradient-end));
  --bg-img: url("/assets/streets-background-blue.jpg");
  --posY: center;
  --posX: right;
  --bg-img-position: var(--posY) var(--posX);
  --bg-img-repeat: no-repeat;
  --bg-img-size: cover;
  --bg-img-attachment: initial;
  --bg-overlay-dir: to right;
  --bg-overlay-start-color: var(--esri-ui-opacity00-inverse);
  --bg-overlay-end-color: var(--esri-ui-opacity00-inverse);
  --bg-overlay-transition: min(20vw, 50%);
  --bg-overlay: linear-gradient(var(--bg-overlay-dir), var(--bg-overlay-start-color), var(--bg-overlay-start-color) var(--bg-overlay-transition), var(--bg-overlay-end-color));
}

.grid-container {
  inline-size: 1440px;
  margin-inline: auto;
  max-inline-size: 96vw;
  padding-inline: 0;
}

#map-default-content-wrapper:not(.section) {
  background-color: transparent;
  color: #fff;
  padding: 0;
  padding-inline: 0.5rem;
  text-align: center;
}

#map-default-content-wrapper > h2 {
  font-weight: var(--calcite-font-weight-normal);
  line-height: 1.375;
  margin: 0 0 var(--space-4);
}

.map.block:not(.section) {
  background-color: transparent;
  padding: 3rem 0;
}

.iframe-map-placeholder {
  block-size: 100%;
  display: block;
  inline-size: 100%;
}

.map hr.separator {
  display: none;
}

#map-default-content-wrapper > div > p {
  font-size: var(--font-4);
  font-weight: var(--calcite-font-weight-normal);
  line-height: 1.375;
  margin: 0 0 var(--space-4);
}

#map-frame {
  block-size: 100vh;
  border: none;
  inline-size: 100%;
}

#map-text-content {
  margin-block: 0 var(--space-4);
}

#frame-wrapper.is-fullscreen {
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  margin: 0;
  max-inline-size: 100vw;
  padding: 0;
  position: fixed;
  z-index: 11110;
}

#frame-wrapper {
  block-size: 775px;
  inline-size: 1440px;
  max-inline-size: 96vw;
  padding: 0;
  transition: all 0.25s ease-in;
}

@media (width > 480px) {
  #map-default-content-wrapper {
    inline-size: 1200px;
    margin-inline: 8vw;
    max-inline-size: 80vw;

  }

  #frame-wrapper {
    inline-size: 1440px;
    max-inline-size: 96vw;
  }
}

@media (width > 860px) {
  #map-default-content-wrapper {
    inline-size: 840px;
    margin-inline: 20vw;
    max-inline-size: 56vw;

  }

  #frame-wrapper {
    inline-size: 1080px;
    margin-inline: 12vw;
    max-inline-size: 72vw;
  }

}

@media (width > 1500px) {
  #map-default-content-wrapper {
    inline-size: 840px;
    margin-inline: 299px;
    max-inline-size: 56vw;
  }

  #frame-wrapper {
    inline-size: 1080px;
    margin-inline: 179px;
    max-inline-size: 72vw;
  }
}
