.hero-wrapper {
  overflow: hidden;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero .video {
  display: none;
}

.hero .content {
  inline-size: 90vw;
  padding-block: var(--space-16);
}

.hero h1 {
  font-size: var(--font-6);
  font-weight: var(--calcite-font-weight-bold);
  margin-block-end: .6rem;
}

.hero.medium h1 {
  font-size: var(--font-7);
}

.hero.small h1 {
  font-size: var(--font-6);
}

.hero :where(h1, p) {
  inline-size: 90%;
}

.hero p:has(+ p) {
  color: var(--calcite-ui-text-2);
  font-size: var(--font-2);
}

.hero .button-container {
  margin-block: 0;
  inline-size: auto;
  display: inline-block;
  margin-inline-end: var(--space-1);
}

.hero p.button-container a {
  margin-block: var(--space-2);
}

.hero video {
  block-size: 100%;
  inset: 0;
  position: absolute;
  z-index: -2;
}

.hero .backgroundimage {
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  object-fit: cover;
  position: absolute;
  z-index: -3;
}

.hero .backgroundimage img {
  block-size: 100%;
  inline-size: 100%;
}

.hero .image {
  inline-size: 90vw;
}

.hero .image :is(img, video) {
  aspect-ratio: 1 / 1;
  block-size: 100%;
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  padding-inline-end: 2vw;
  position: initial;
}

@media (width >= 1024px) {
  .hero {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .hero .content {
    padding-inline-start: 2vw;
  }

  .hero :is(.image, .content) {
    inline-size: 50%;
    max-inline-size: 700px;
  }
}
