.centered-content-switcher {
  animation-duration: 550ms;
  animation-timing-function: ease;
  block-size: 100%;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  position: relative;

  .mobile-nav {
    align-items: center;
    animation-delay: 200ms;
    animation-duration: 550ms;
    animation-timing-function: ease;
    border-block-start: 1px solid var(--calcite-ui-border-1);
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    padding: var(--space-4) 0;

    ul {
      align-items: center;
      display: flex;
      gap: 16px;
      justify-content: center;
      list-style-type: none;
      padding: 0;

      li {
        block-size: 10px;
        border: 1px solid var(--calcite-ui-text-1);
        border-radius: 50%;
        inline-size: 10px;
      }

      li.active {
        background-color: var(--calcite-ui-brand);
        border-color: var(--calcite-ui-brand);
      }
    }
  }

  .desktop-nav {
    animation-delay: 200ms;
    animation-duration: 550ms;
    animation-timing-function: ease;
    border-block-start: 1px solid var(--calcite-ui-border-1);
    display: none;
    margin-block-start: 0;
    padding: 0;

    ul {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: grid;
        grid-template-columns: calc(64px + 2 * var(--space-2)) 1fr;
        outline: 1px solid var(--calcite-ui-border-1);
      }

      li picture {
        align-items: center;
        block-size: 100%;
        display: flex;
        justify-content: center;
      }

      li img {
        block-size: 64px;
        inline-size: 64px;
        margin: var(--space-2);
        object-fit: cover;
        object-position: center;
      }

      li p {
        font-size: var(--font-0);
        line-height: normal;
        margin: 0;
        margin-inline-start: var(--space-4);
        overflow: hidden;
        padding-block: var(--space-3);
        padding-inline-end: var(--space-3);
      }

      li.active {
        background: var(--calcite-ui-foreground-3);
        outline: 1px solid var(--calcite-ui-brand);
      }

      li:nth-child(3n) {
        border-inline-end: 1px solid var(--calcite-ui-border-1);
        flex: 0 0 calc(33.33% - 2px);
      }

      li:hover {
        cursor: pointer;
      }
    }
  }

  & > div {
    align-items: center;
    animation-duration: 550ms;
    animation-timing-function: ease;
    background-position: center;
    background-size: cover;
    block-size: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-10) 0;
    transition: all linear .5s;

    & > div {
      background-color: var(--esri-ui-opacity90-inverse);
      inline-size: 1440px;
      margin: auto;
      max-inline-size: 96vw;
    }

    & > div:first-child {
      align-items: center;
      animation-delay: 100ms;
      animation-duration: 550ms;
      animation-timing-function: ease;
      background-color: var(--esri-ui-opacity90-inverse);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block-end: 0;
      min-block-size: 350px;
      padding: var(--space-12) var(--space-2);
      text-align: center;

      & > p {
        color: var(--calcite-ui-text-2);
        font-size: var(--font-minus-2);
        font-weight: var(--calcite-font-weight-bold);
        margin-block: 0 var(--space-2);
        padding-block-start: var(--space-5);
      }

      & > p:first-child {
        text-transform: uppercase;
      }

      calcite-button {
        text-transform: none;
      }

      & > h2 {
        color: var(--calcite-ui-text-1);
        font-size: var(--font-4);
        font-weight: var(--calcite-font-weight-normal);
        line-height: 1.375;
        margin: 0 0 var(--space-4);
        margin-block-end: var(--space-2);
      }
    }
  }

  & > div[hidden] {
    position: absolute;

    a, .previous-button, .next-button {
      visibility: hidden;
    }
  }
}

@media (width >= 480px) {
  .centered-content-switcher {
    & > div {
      inline-size: 100%;
      max-block-size: 990px;
      min-block-size: 675px;

      & > div {
        inline-size: 1200px;
        max-inline-size: 80vw;
      }
    }
  }
}

@media (width >= 1024px) {
  .centered-content-switcher {
    & > div {
      aspect-ratio: 16 / 9;
    }

    .mobile-nav {
      display: none;
    }

    .desktop-nav {
      display: block;
    }
  }
}
