.local-navigation-container {
  background-color: #2b2b2b;
  inset-block-start: 0;
  position: sticky;
  z-index: 3000;
}

.local-navigation.block {
  background-color: inherit;
  block-size: 65px;
}

.local-navigation nav#main {
  align-items: flex-start;
  display: flex;
}

.local-navigation .navigation-title a {
  align-items: center;
  block-size: 65px;
  color: #fff;
  display: flex;
  font-size: var(--font-0);
  white-space: nowrap;
}

.local-navigation .navigation-title a:hover {
  box-shadow: inset 0 -3px 0 0 #2b2b2b;
  text-decoration: none;
}

.local-navigation ul.mobile-menu {
  inline-size: 100%;
  inset-block-start: 65px;
  inset-inline-end: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-color: #151515;

}

.local-navigation ul.mobile-menu[aria-expanded="false"] {
  display: none;
}

.local-navigation ul li {
  display: flex;
  flex-direction: column;
  position: relative;
}

.local-navigation ul li a {
  align-items: center;
  block-size: 56px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding-inline: var(--space-8);
  text-decoration: none;
}

.local-navigation ul li.page-title > button[aria-current="true"] {
  box-shadow: inset 3px 0 0 0 var(--calcite-ui-brand);
}

.local-navigation ul li a[aria-current="true"] {
  box-shadow: inset 3px 0 0 0 var(--calcite-ui-brand);
  filter: drop-shadow(3px 0 0 var(--theme-color));
}

.local-navigation ul li button {
  align-items: center;
  background-color: #151515;
  block-size: 65px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: var(--font-0);
  inline-size: 100%;
  padding-inline: var(--space-8);
  position: relative;
  margin: 0;
  text-decoration: none;
  box-shadow: none;
  transition: none;
}

.local-navigation ul li button:hover {
  background-color: #202020;
  box-shadow: inset 0 0 0 0 var(--calcite-link-blue-underline);
}

.local-navigation ul.mobile-menu .subnav[aria-hidden="true"] {
  display: none;
}

.local-navigation ul.mobile-menu button[aria-expanded="true"]::after {
  transform: rotateX(180deg) translateY(1px);
  transition-duration: 0.25s;
}

.local-navigation calcite-icon.btn-mobile {
  block-size: 65px;
  color: #fff;
  cursor: pointer;
  margin-inline-start: var(--space-4);
}

.local-navigation calcite-icon.chevron-icon {
  block-size: 65px;
  color: #fff;
  cursor: pointer;
  inset-inline-end: var(--space-3);
  position: absolute;
  display: block;
}

.local-navigation .subnav .subnav-ul a {
  background-image: linear-gradient(90deg, #007ac2 50%, #555 0);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 200% 1px;
  color: #9f9f9f;
  font-size: 14px;
  transition: background-position .25s;
  white-space: nowrap;
  block-size: 60px;
  padding-inline: 0;
}

.local-navigation ul li.page-title > a:hover {
  background-color: #202020;
}

.local-navigation .subnav .subnav-ul a:hover {
  background-position: 0 100%;
  color: #ffffff;
}

.local-navigation .subnav .subnav-ul a::after {
  block-size: 16px;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='%23007ac2' d='M8 14.3l5.3-5.3H0V8h13.3L8 2.7V1.3L15.2 8.5 8 15.7V14.3z' /%3E%3C/svg%3E");
  display: flex;
  inline-size: 100%;
  justify-content: end;
  margin-inline-end: 20px;
  opacity: 0;
  transition: all .25s ease-out;
}

.local-navigation .subnav .subnav-ul a:hover::after {
  margin-inline-end: 10px;
  opacity: 1;
}

.local-navigation .subnav .subnav-ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: var(--space-8);
}

.local-navigation calcite-button {
  background-color: #151515;
  display: flex;
  padding-block: var(--space-4);
  padding-inline: 30%;
}

@media (width >= 975px) {
  .local-navigation-wrapper {
    max-inline-size: 1440px;
  }

  .local-navigation nav {
    align-items: center;
  }

  .local-navigation ul.mobile-menu {
    inline-size: 100%;
    inset-block-start: 0;
    justify-content: end;
    margin: 0;
    position: relative;
    background-color: #2b2b2b;
  }

  .local-navigation ul li a {
    flex-direction: row;
    block-size: 65px;
  }

  .local-navigation ul li a[aria-current="true"] {
    background-color: #202020;
    box-shadow: inset 0 -3px 0 0 var(--calcite-ui-brand);
  }

  .local-navigation ul li.page-title a:hover {
    background-color: #202020;
    box-shadow: inset 0 -3px 0 0 var(--calcite-link-blue-underline);
  }

  .local-navigation ul li.page-title > button[aria-current="true"] {
    box-shadow: inset 0 -3px 0 0 var(--calcite-ui-brand);
    background-color: #202020;
  }

  .local-navigation ul.mobile-menu button::after {
    inset-inline-start: var(--space-2);
    position: relative;
  }

  .local-navigation ul.mobile-menu[aria-expanded="false"] {
    display: flex;
    flex-wrap: nowrap;
  }

  .local-navigation ul li button {
    background-color: #2b2b2b;
    padding-inline: var(--space-4) var(--space-8);
  }

  .local-navigation ul li button:hover {
    background-color: #202020;
    box-shadow: inset 0 -3px 0 0 var(--calcite-link-blue-underline);
  }

  .local-navigation .subnav {
    background-color: #202020;
    inline-size: 330px;
    position: absolute;
    inset-block-start: 65px;
  }

  .local-navigation .subnav .subnav-ul {
    padding-inline-start: var(--space-6);
  }

  .local-navigation calcite-button {
    background-color: #2b2b2b;
    margin: 10px;
    padding: 0;
  }

  .local-navigation calcite-icon.btn-mobile {
    display: none;
  }
}

@media (width < 1600px) {
  .local-navigation nav#main {
    padding-inline-start: var(--space-8);
  }
}

@media (width >= 1440px) {
  .local-navigation calcite-button {
    margin-inline: 10px 0;
  }
}
