main .hero-container {
  padding: 0;
}

.hero-wrapper {
  overflow: hidden;
}

.hero.block {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.hero.block h1 {
  margin-block-end: .6rem;
  color: var(--calcite-ui-text-1);
  font-weight: var(--calcite-font-weight-bold);
  display: flex;
  margin-inline: 4vw;

}

.hero.block > div {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  align-items: center;
  color: var(--calcite-ui-text-1);
}

.hero.block p {
  display: flex;
  margin-inline: 4vw;
}

.hero.block p:nth-of-type(3) > picture  {
  display: flex;
  align-items: center;
  block-size: 100%;
  aspect-ratio: auto;
}

.hero.block p:nth-of-type(4) picture {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: flex;
  z-index: -2;
}

.hero.block p:nth-of-type(4) picture img {
  inline-size: 100%;
}

.hero.block h1, .hero.large.block h1 {
  font-size: var(--font-8);
  margin-block-start: var(--space-20);
}

.hero.medium.block h1 {
  font-size: var(--font-7);
}

.hero.small.block h1 {
  font-size: var(--font-6);
}

.hero.block > div > div > p:last-child > picture img {
  object-fit: cover;
}

.hero.block p:nth-of-type(4) a {
  display: none;
}

.hero.block video {
  display: none;
}

@media (width >= 768px) {
  .hero.small.block p:nth-of-type(3) > picture  {
    aspect-ratio: 1 / 1;
  }

  .hero.block h1, .hero.block p {
    inline-size: 50%;
  }

  .hero.block p:nth-of-type(3)  {
    block-size: 100%;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    justify-content: center;
  }

  .hero.block video {
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .hero.block > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
 
  .hero.large.block, .hero.block { 
    block-size: 700px;
    min-block-size: 35vw;
  }

  .hero.medium.block {
    block-size: 576px;
    min-block-size: 28vw;
  }

  .hero.small.block {
    block-size: 360px;
    min-block-size: 21vw;
  }

  .hero.xmall.block {
    block-size: auto;
    min-block-size: 170px;
  }
}