/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --calcite-duration-factor: 3.666;

  /* esri.com colors with opacity */
  --esri-ui-opacity00: rgb(53 53 53 / 0%);
  --esri-ui-opacity20: rgb(53 53 53 / 20%);
  --esri-ui-opacity40: rgb(53 53 53 / 40%);
  --esri-ui-opacity50: rgb(53 53 53 / 50%);
  --esri-ui-opacity80: rgb(53 53 53 / 80%);
  --esri-ui-opacity85: rgb(53 53 53 / 85%);
  --esri-ui-opacity90: rgb(53 53 53 / 90%);
  --esri-ui-opacity95: rgb(53 53 53 / 95%);
  --esri-ui-opacity97: rgb(53 53 53 / 97%);
  --esri-ui-opacity00-inverse: rgb(255 255 255/ 0%);
  --esri-ui-opacity20-inverse: rgb(255 255 255/ 2%);
  --esri-ui-opacity40-inverse: rgb(255 255 255/ 4%);
  --esri-ui-opacity50-inverse: rgb(255 255 255/ 5%);
  --esri-ui-opacity80-inverse: rgb(255 255 255/ 80%);
  --esri-ui-opacity85-inverse: rgb(255 255 255/ 85%);
  --esri-ui-opacity90-inverse: rgb(255 255 255/ 90%);
  --esri-ui-opacity95-inverse: rgb(255 255 255/ 95%);
  --esri-ui-opacity97-inverse: rgb(255 255 255/ 97%);

  /* icon filters */
  --image-icon-filter: brightness(0) saturate(100%) invert(14%) sepia(10%) saturate(19%) hue-rotate(330deg) brightness(93%) contrast(91%);
  --image-icon-filter-brand: brightness(0) saturate(100%) invert(30%) sepia(98%) saturate(1143%) hue-rotate(177deg) brightness(95%) contrast(101%);

  -webkit-font-smoothing: antialiased;

  .calcite-mode-dark {
    --esri-ui-opacity00: rgb(255 255 255/ 0%);
    --esri-ui-opacity20: rgb(255 255 255/ 20%);
    --esri-ui-opacity40: rgb(255 255 255/ 40%);
    --esri-ui-opacity50: rgb(255 255 255/ 50%);
    --esri-ui-opacity80: rgb(255 255 255/ 80%);
    --esri-ui-opacity85: rgb(255 255 255/ 85%);
    --esri-ui-opacity90: rgb(255 255 255/ 90%);
    --esri-ui-opacity95: rgb(255 255 255/ 95%);
    --esri-ui-opacity97: rgb(255 255 255/ 97%);
    --esri-ui-opacity00-inverse: rgb(53 53 53 / 0%);
    --esri-ui-opacity20-inverse: rgb(53 53 53 / 2%);
    --esri-ui-opacity40-inverse: rgb(53 53 53 / 4%);
    --esri-ui-opacity50-inverse: rgb(53 53 53 / 5%);
    --esri-ui-opacity80-inverse: rgb(53 53 53 / 80%);
    --esri-ui-opacity85-inverse: rgb(53 53 53 / 85%);
    --esri-ui-opacity90-inverse: rgb(53 53 53 / 90%);
    --esri-ui-opacity95-inverse: rgb(53 53 53 / 95%);
    --esri-ui-opacity97-inverse: rgb(53 53 53 / 97%);

    /* icon filter */
    --image-icon-filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(1857%) hue-rotate(0deg) brightness(109%) contrast(108%);
  }

  /* fonts */
  --calcite-code-family: "Consolas", "Andale Mono", "Lucida Console", "Monaco", monospace;
  --calcite-sans-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  --font-minus-3: clamp(.625rem, .625rem + 0vw, .625rem);
  --font-minus-2: clamp(.625rem, 0.5682rem + 0.2525vw, .75rem);
  --font-minus-1: clamp(0.75rem, 0.6932rem + 0.2525vw, 0.875rem);
  --font-0: clamp(0.875rem, 0.8181rem + 0.2525vw, 1rem);
  --font-1: clamp(1rem, 0.9431rem + 0.2525vw, 1.125rem);
  --font-2: clamp(1.125rem, 1.0681rem + 0.2525vw, 1.25rem);
  --font-3: clamp(1.25rem, 1.0795rem + 0.7575vw, 1.625rem);
  --font-4: clamp(1.625rem, 1.4545rem + 0.7575vw, 2rem);
  --font-5: clamp(1.625rem, 1.2272rem + 1.7676vw, 2.5rem);
  --font-6: clamp(2rem, 1.5454rem + 2.0202vw, 3rem);
  --font-7: clamp(2.5rem, 2.0454rem + 2.0202vw, 3.5rem);
  --font-8: clamp(2.5rem, 1.8181rem + 3.0303vw, 4rem);

  /* Spacing */
  --unit: 1rem; /* 16px */
  --space-px: calc(0.625 * var(--unit)); /*  10px */
  --space-1: calc(0.25 * 1rem); /* 4px */
  --space-2: calc(0.5 * var(--unit)); /* 8px */
  --space-3: calc(0.75 * var(--unit)); /* 12px */
  --space-4: calc(1 * var(--unit)); /* 16px */
  --space-5: calc(1.25 * var(--unit)); /* 20px */
  --space-6: calc(1.5 * var(--unit)); /* 24px */
  --space-8: calc(2 * var(--unit)); /* 32px */
  --space-10: calc(2.5 * var(--unit)); /* 40px */
  --space-12: calc(3 * var(--unit)); /* 48px */
  --space-16: calc(4 * var(--unit)); /* 64px */
  --space-20: calc(5 * var(--unit)); /* 80px */
  --space-24: calc(6 * var(--unit)); /* 96px */
  --space-32: calc(8 * var(--unit)); /* 128px */
  --space-40: calc(10 * var(--unit)); /* 160px */
  --space-48: calc(12 * var(--unit)); /* 192px */
  --space-56: calc(14 * var(--unit)); /* 224px */
  --space-64: calc(16 * var(--unit)); /* 256px */

  /* nav height */
  --nav-height: 64px;

  /* block variables */
  --wrapper-max-width: 1440px;
  --content-max-width: 840px;

  /* frame height */
  --frame-height: 775px;
}

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
}

/* Horizontal alignment */
[data-align="left"] { text-align: start }
[data-align="center"] { text-align: center }
[data-align="right"] { text-align: end }

/* Vertical alignment */
[data-valign="top"] { align-self: flex-start }
[data-valign="middle"] { align-self: center }
[data-valign="bottom"] { align-self: flex-end }

body {
  background-color: var(--calcite-ui-foreground-1);
  color: var(--calcite-ui-text-1);
  display: none;
  font-family: var(--calcite-sans-family);
  font-size: var(--font-0);
  line-height: 1.5;
  margin: 0;
}

body.appear {
  display: block;
}

main {
  background-color: var(--calcite-ui-foreground-1);
  color: var(--calcite-ui-text-1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--calcite-sans-family);
    font-weight: var(--calcite-font-weight-bold);
    line-height: 1.375;
    margin-block: 0 var(--space-4);
    scroll-margin: calc(var(--nav-height) + 1em);
  }

  /* heading sizes and styles */

  h1 {
    font-size: var(--font-6);
  }

  h2 {
    font-size: var(--font-4);
  }

  h3 {
    font-size: var(--font-3);
  }

  h4 {
    font-size: var(--font-2);
  }

  h5 {
    font-size: var(--font-1);
  }

  h6 {
    font-size: var(--font-0);
  }

  p,
  dl,
  ol,
  ul,
  pre,
  blockquote {
    margin-block: 0 var(--space-4);
  }

  code,
  pre {
    font-family: var(--calcite-code-family);
    font-size: var(--font-0);
  }

  code {
    background-color: var(--esri-ui-opacity85-inverse);
    color: var(--calcite-ui-text-2);
    padding: 0 0.2rem;
  }

  pre {
    background-color: var(--calcite-ui-foreground-2);
    border-radius: 0.25em;
    overflow: scroll;
    overflow-x: auto;
    padding: 1em;
    white-space: pre;
  }

  sup,
  sub {
    font-size: var(--font-minus-2);
    line-height: 0;
  }

  blockquote {
    border-inline-start: 2px solid var(--calcite-ui-border-1);
    color: var(--calcite-ui-text-2);
    font-size: var(--font-1);
    line-height: 1.375;
    margin: var(--space-4) 0;
    padding-inline-start: 1rem;
  }

  blockquote p {
    font-size: var(--font-1);
    line-height: 1.375;
  }

  /* links */

  a:any-link {
    color: var(--calcite-ui-text-link);
    text-decoration: none;
  }

  a:hover, a:focus {
    color: var(--calcite-ui-text-link);
    text-decoration: underline;
  }

  /* horizontal rule */

  hr {
    border: none;
    border-block-start: 1px solid var(--calcite-ui-border-1);
    margin: var(--space-4) 0;
  }

  /* buttons */

  a.button:any-link,
  button {
    background-color: var(--calcite-ui-brand);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: var(--calcite-ui-text-inverse);
    cursor: pointer;
    display: inline-block;
    font-family: var(--calcite-sans-family);
    font-size: var(--calcite-font-size--1);
    font-style: normal;
    font-weight: var(--calcite-font-weight-normal);
    line-height: 1rem;
    margin-inline-end: var(--space-2);
    overflow: hidden;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color var(--calcite-animation-timing) ease-in-out, background-color var(--calcite-animation-timing) ease-in-out, box-shadow var(--calcite-animation-timing) ease-in-out, outline-color var(--calcite-animation-timing) ease-in-out;
    white-space: nowrap;
  }

  a.button[kind="inverse"] {
    background-color: var(--calcite-ui-inverse);
    color: var(--calcite-ui-text-inverse);
  }

  a.button:hover,
  a.button:focus,
  button:hover,
  button:focus {
    background-color: var(--calcite-ui-brand-hover);
    box-shadow: inset 0 0 0 1px currentcolor;
    cursor: pointer;
  }

  button:disabled,
  button:disabled:hover {
    cursor: unset;
    opacity: var(--calcite-ui-opacity-disabled);
  }

  a.button.secondary,
  button.secondary {
    background-color: unset;
    border: 1px solid currentcolor;
    color: var(--calcite-ui-text-1);
    inline-size: fit-content;
  }

  img {
    block-size: auto;
    inline-size: auto;
    max-inline-size: 100%;
  }

  .icon {
    block-size: 24px;
    display: inline-block;
    inline-size: 24px;
  }

  .icon:where([class$="-48"], [class$="-64"]) {
    block-size: 48px;
    inline-size: 48px;
  }

  .icon img {
    block-size: 100%;
    filter: var(--image-icon-filter);
    inline-size: 100%;
  }

  .icon img[src*="/product-logos/"] {
    filter: none;
  }

  .default-arrow-right {
    margin-inline-start: 4px;
  }

  /* sections */

  .default-content-wrapper {
    max-inline-size: 1440px;
    padding-inline: var(--space-6);
  }

  .section[data-background-image] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section > .default-content-wrapper * {
    inline-size: 48vw;
    max-inline-size: 720px;

    @media screen and (width <= 859px) {
      inline-size: 100%;
      max-inline-size: 96vw;
      }
  }

  .section:where(.center, .centered) > .default-content-wrapper {
    text-align: center;
  }

  .section:where(.center, .centered) > .default-content-wrapper * {
    margin-inline: auto;
  }

  .section > div > div {
    background-color: var(--calcite-ui-foreground-1);
    color: var(--calcite-ui-text-1);
  }

  .section.dark {
    background-color: var(--calcite-ui-foreground-1);
    color: var(--calcite-ui-text-1);
  }

  .section > .default-content-wrapper .button-container {
    margin-block-start: var(--space-6);
    padding: var(--space-3) var(--space-4);
  }

  .section > .default-content-wrapper .button-container a {
    display: inline;
    font-size: var(--font-0);
    padding: var(--space-3) var(--space-4);
  }


  @media (width >= 900px) {
    .section > div {
      margin: auto;
    }
  }

  @media (width >= 1488px) {
    .default-content-wrapper {
      padding-inline: 0;
    }
  }

  /* section metadata */

  .section.light,
  .section.highlight {
    background-color: var(--calcite-ui-foreground-2);
  }
}

/* Font size classes */
.header-minus-3 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-minus-3);
}

.header-minus-2 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-minus-2);
}

.header-minus-1 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-minus-1);
}

.header-0 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-0);
}

.header-1 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-1);
}

.header-2 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-2);
}

.header-3 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-3);
}

.header-4 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-4);
}

.header-5 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-5);
}

.header-6 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-6);
}

.header-7 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-7);
}

.header-8 > .default-content-wrapper > :where(h1, h2, h3, h4, h5, h6) {
  font-size: var(--font-8);
}

/* Grid leader trailer spacing */
.leader-0 {
  margin-block-start: 0;
}

.trailer-0 {
  margin-block-end: 0;
}

.padding-leader-0 {
  padding-block-start: 0;
}

.padding-trailer-0 {
  padding-block-end: 0;
}

.leader-1 {
  margin-block-start: 1.5rem;
}

.trailer-1 {
  margin-block-end: 1.5rem;
}

.padding-leader-1 {
  padding-block-start: 1.5rem;
}

.padding-trailer-1 {
  padding-block-end: 1.5rem;
}

.leader-2 {
  margin-block-start: 3rem;
}

.trailer-2 {
  margin-block-end: 3rem;
}

.padding-leader-2 {
  padding-block-start: 3rem;
}

.padding-trailer-2 {
  padding-block-end: 3rem;
}

.leader-3 {
  margin-block-start: 4.5rem;
}

.trailer-3 {
  margin-block-end: 4.5rem;
}

.padding-leader-3 {
  padding-block-start: 4.5rem;
}

.padding-trailer-3 {
  padding-block-end: 4.5rem;
}

.leader-4 {
  margin-block-start: 6rem;
}

.trailer-4 {
  margin-block-end: 6rem;
}

.padding-leader-4 {
  padding-block-start: 6rem;
}

.padding-trailer-4 {
  padding-block-end: 6rem;
}

.leader-5 {
  margin-block-start: 7.5rem;
}

.trailer-5 {
  margin-block-end: 7.5rem;
}

.padding-leader-5 {
  padding-block-start: 7.5rem;
}

.padding-trailer-5 {
  padding-block-end: 7.5rem;
}

.leader-6 {
  margin-block-start: 9rem;
}

.trailer-6 {
  margin-block-end: 9rem;
}

.padding-leader-6 {
  padding-block-start: 9rem;
}

.padding-trailer-6 {
  padding-block-end: 9rem;
}

/* Modal */
body[aria-hidden="true"]{
  overflow: hidden;
}

.co3-modal {
  background: var(--esri-ui-opacity80-inverse);
  block-size: 100%;
  inline-size: 100vw;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 3001;
}

.co3-modal-container {
  aspect-ratio: 1.7778;
  inline-size: 85%;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  max-inline-size: 950px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.co3-modal iframe {
  block-size: 100%;
  inline-size: 100%;
}

.co3-modal-container .modal-close-button {
  align-items: center;
  background: var(--calcite-ui-text-1);
  block-size: 50px;
  border-radius: 100%;
  display: flex;
  inline-size: 50px;
  inset-block-start: -17px;
  inset-inline-end: -17px;
  justify-content: center;
  position: absolute;
  z-index: 3002;
}

.co3-modal-container .modal-close-button:is(:hover, :focus-within, :active) {
  background: var(--calcite-ui-brand);
  color: var(--calcite-ui-text-1);
  cursor: pointer;
}

/* Embed Iframe */
.section > .default-content-wrapper :is(h2, p) {
  inline-size: 100%;
}

.iframe-container {
  margin: var(--space-8) auto;
}

.default-content-wrapper .iframe-container iframe {
  aspect-ratio: 16 / 9;
  inline-size: 100%;
  max-inline-size: none;
}

.button-container[aria-hidden="true"] {
  display: none;
}

.video-iframe-box {
  align-items: center;
  background-color: var(--esri-ui-opacity80);
  block-size: 100vh;
  display: flex;
  inline-size: 100vw;
  inset-block-start: 0;
  inset-inline-start: 0;
  justify-content: center;
  overscroll-behavior: contain;
  position: fixed;
  z-index: 5;

  .video-iframe-wrapper {
    aspect-ratio: 16/9;
    inline-size: 85%;
    position: relative;

    .video-close-button {
      align-items: center;
      background: var(--calcite-ui-text-1);
      background-color: var(--calcite-ui-text-inverse);
      block-size: 50px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      inline-size: 50px;
      inset-block-start: -20px;
      inset-inline-end: -20px;
      justify-content: center;
      position: absolute;
      transition: .15s ease-in-out;
    }

    .video-close-button:hover {
      background-color: var(--calcite-ui-brand);
      color: var(--calcite-ui-text-inverse);
    }
  }

  .video-iframe {
    block-size: 100%;
    border: none;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
  }
}

@media (width >= 1024px) {
  .video-iframe-box {
    .video-iframe-wrapper {
      inline-size: 65%;
    }
  }
}