.quote-container {
  inline-size: 100vw;
  padding-block-start: 0;
}

.quote {
  inline-size: 100%;
  margin: 0;
}

.quote p {
  font-size: var(--font-1);
  margin: 0;
}

.quote article > div {
  align-items: center;
  inline-size: 96vw;
  margin-inline: auto;
  max-inline-size: 1440px;
}

.quote blockquote {
  border: none;
  margin-block: var(--space-4);
  padding: 0;
}

.quote blockquote p {
  font-size: var(--font-3);
  font-style: italic;
}

.quote blockquote + p {
  font-weight: var(--calcite-font-weight-medium);
}

.quote .quote-block-body {
  inline-size: min(100%, 780px);
}

.quote .icon img {
  filter: var(--image-icon-filter-brand);
}

.quote .quote-block-image picture {
  display: block;
}

.quote .quote-block-image img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  max-inline-size: 95%;
}

@media (width >= 768px) {
  .quote article > div {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 4.5rem 0.5rem;
  }

  .quote .quote-block-image picture img {
    inset-block-start: 0;
  }
}
