.video-cards {
  background-color: var(--calcite-ui-foreground-1);
  display: flex;
  flex-direction: column;
  inline-size: 1440px;
  margin: 0 auto;
  max-inline-size: 92vw;
  padding: 3rem 0;

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  img {
    aspect-ratio: 342 / 192;
    block-size: auto;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .video-card-title {
    color: var(--calcite-ui-text-1);
    font-size: var(--font-2);
    margin-block-end: var(--space-2);
  }

  .video-card-description {
    color: var(--calcite-ui-text-1);
    font-size: var(--font-minus-1);
  }

  & > a > div {
    border: 1px solid var(--calcite-ui-border-1);
    cursor: pointer;
    margin: var(--space-2);

    & > p {
      position: relative;

      & > button {
        align-items: center;
        background-color: var(--calcite-ui-foreground-2);
        block-size: 50px;
        border-radius: 50%;
        color: var(--calcite-ui-text-1);
        display: flex;
        inline-size: 50px;
        inset-block-start: calc(50% - 25px);
        inset-inline-start: calc(50% - 25px);
        justify-content: center;
        margin: 0;
        padding: 0;
        position: absolute;
      }
    }

    &:hover {
      border-color: var(--calcite-ui-brand-hover);

      & > p > button {
        background-color: var(--calcite-ui-foreground-1);
      }
    }

    & > ul {
      block-size: 124px;
      box-sizing: border-box;
      list-style-type: none;
      margin: 0;
      padding: var(--space-5) var(--space-5) var(--space-6) var(--space-5);
    }
  }
}

@media (width >= 768px) {
  .video-cards {
    flex-flow: row wrap;
    justify-content: center;
    max-inline-size: 96vw;

    & > a > div {
      inline-size: 45.5vw;
    }
  }
}

@media (width >= 1024px) {
  .video-cards {
    max-inline-size: 97vw;

    & > a > div {
      inline-size: 460px;
      max-inline-size: 30vw;
    }
  }
}
