.large-content-stack.block {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  padding-block-start: var(--space-10);
  text-align: center;
  
  > div >  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .media-wrapper {
    inline-size: 92%;
    margin: var(--space-10) auto 0;
    max-inline-size: 1050px;
    position: relative;
  }

  .video-play-anchor {
    inset-block-start: 50%;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  h2 {
    font-size: var(--font-4);
    font-weight: var(--calcite-font-weight-normal);
    inline-size: 90%;
    margin: 0 auto;
  }

  p {
    inline-size: 90%;
  }

  .button-container {
    margin-block: 0;
    margin-inline-end: var(--space-2);
  }

  .media-wrapper > picture > img {
    display: block;
    inline-size: 100%;
  }

  @media (width > 480px) {
    h2, p {
      inline-size: 65%;
      max-inline-size: 600px;
    }
  }
}
