:root {
  --sepia-icon-color: brightness(0) saturate(100%) invert(67%) sepia(69%) saturate(375%) hue-rotate(121deg) brightness(103%) contrast(86%);
}

.call-to-action-container > .default-content-wrapper {
  padding: var(--space-24) 0;
  text-align: center;
}

.section.call-to-action-container > .default-content-wrapper * {
  margin: 0.5rem auto;
}

.section.call-to-action-container > .default-content-wrapper > .button-container a.button {
  font-size: var(--calcite-font-size-0);
  inline-size: auto;
  padding-block: 11px;
  padding-inline: 15px;
}

.section.call-to-action-container > .default-content-wrapper > p {
  color: var(--calcite-ui-text-2);
  font-size: var(--font-2);
}

.call-to-action-wrapper {
  background: var(--calcite-ui-foreground-1);
  color: var(--calcite-ui-text-1);
  justify-content: center;
  padding: var(--space-24) 0 var(--space-32);
}

.section.form-container.call-to-action-container > .default-content-wrapper {
  padding-block-end: 0;
}

.section.form-container.call-to-action-container > .form-wrapper .form.card-modal.button {
  .cards.simple {
    padding: 0;
  }

  ul li {
    justify-content: center;
  }

  .cards-card-body {
    background-color: var(--calcite-ui-brand);
    color: var(--calcite-ui-text-inverse);
    flex: none;
  }

  .card-body-content {
    padding: 0;
  }

  p{
    margin: 0
  }

  h3 {
    color: var(--calcite-ui-text-inverse);
    font-size: var(--calcite-font-size-0);
    font-weight: normal;
    line-height: 1.25rem;
    margin: 0;
    padding: 15px;
  }
}

.call-to-action {
  display: flex;
  inline-size: 99%;
  position: relative;

  > div {
    display: flex;
    flex-direction: column;
    inline-size: 100%;

    > div {
      align-items: center;
      block-size: var(--space-56);
      border-inline-end: 0.01rem solid var(--calcite-ui-border-1);
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin-inline-end: -0.01rem;

      &:last-child {
        border-inline-end: none;
        margin-inline-end: 0;
      }
    }
  }

  h2 {
    font-size: var(--font-3);
    font-weight: var(--calcite-font-weight-normal);
  }
}

p.button-container .button {
  margin-block-start: 0;
  margin-inline-end: 0;
}

.call-to-action.fragment {
  /* to be addressed on a follow-up PR */
  display: flex;

  h2 {
    font-size: var(--font-0);
  }

  /* if it has three or more children, */
  & > div:has(> div:nth-child(3)) {
    display: block;

    h2 {
      text-align: center;
    }

    div.default-content-wrapper {
      margin: auto;
    }

    > div {
      border-inline: none;
      margin-inline: 0;
    }

    > div:first-child {
      border-inline-end: none;
      display: block;
      margin-inline-end: 0;

      span.icon {
        block-size: 64px;
        display: block;
        inline-size: 64px;
        margin: auto;
      }

      span.icon > img {
        filter: var(--sepia-icon-color);
      }
    }

    > div:nth-child(2) {
      block-size: max-content;
      display: grid;
      grid-template-columns: 50vw 50vw;
      margin: 0;

      .cards ul {
        inline-size: 100%;
      }

      span.icon > img {
        filter: var(--sepia-icon-color);
      }
    }

    > div:nth-child(3) {
      block-size: auto;
      display: block;
    }
  }

  .cards ul {
    inline-size: 50vw;
  }

  ul:has(li:nth-child(3)) {
    inline-size: 1440px;
    max-inline-size: 80%;
  }

  .cards.questions {
    padding: 0;

    & > ul > li {
      --cards-per-row: 3;
    }

    .card-body-content p {
      margin: 0;
      padding: 0;
    }

    .cards-card-body:is(:hover, :focus-within) a {
      border-color: transparent;
    }

    img {
      filter: var(--image-icon-filter);
    }
  }
}

@media (width <= 1440px) {
  .call-to-action.fragment .cards.questions {
    inline-size: 100vw;
  }

  ul:has(li:nth-child(3)) {
    inline-size: inherit;
    min-inline-size: 80%;
  }
}

@media (width <= 860px) {
  .call-to-action.fragment ul:has(li:nth-child(3)) {
    max-inline-size: 100%;
  }

  .call-to-action.fragment .cards.questions > ul {
    inline-size: 100vw;
  }

  .call-to-action.fragment .cards.questions > ul:has(li:last-child) li {
    --cards-per-row: 3;
  }

  .call-to-action.fragment .cards.questions > ul:has(li:nth-child(2):last-child) li {
    --cards-per-row: 2;
  }

  .call-to-action.fragment .cards.questions > ul:has(li:nth-child(1):last-child) li {
    --cards-per-row: 1;
  }
}


@media (width <= 768px) {
  .call-to-action > div {
    align-items: center;
    flex-direction: column;
  }

  .call-to-action > div > div {
    border-block-end: 0.01rem solid var(--calcite-ui-border-1);
    border-inline-end: none;
    inline-size: 100%;
    margin-block: var(--space-10);
    margin-inline-end: 0;
  }

  .call-to-action > div > div:last-child {
    border-block-end: none;
  }
}
