.call-to-action-wrapper {
  display: flex;
  color: var(--calcite-ui-text-1);
  padding: var(--space-24) 0 var(--space-32);
  background: var(--calcite-ui-foreground-1);
  justify-content: center;
}

.call-to-action {
  display: flex;
  inline-size: 99%;
  position: relative;

  > div {
    display: flex;
    inline-size: 100%;

    > div {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      block-size: var(--space-56);
      border-inline-end: 0.01rem solid var(--calcite-ui-border-1);
      margin-inline-end: -0.01rem;

      &:last-child {
        border-inline-end: none;
        margin-inline-end: 0;
      }
    }
  }

  h2 {
    font-size: var(--font-3);
    font-weight: var(--calcite-font-weight-normal);
  }
}

p.button-container .button {
  margin-inline-end: 0;
  margin-block-start: 0;
}

.call-to-action.fragment {
  /* to be addressed on a follow-up PR */
  inline-size: initial;
  display: flex;

  & > div {
    inline-size: initial;
  }

  .cards ul {
    inline-size: 50vw;
  }
}

@media (width <= 768px) {
  .call-to-action > div {
    align-items: center;
    flex-direction: column;
  }

  .call-to-action > div > div {
    inline-size: 100%;
    margin-block: var(--space-10);
    border-inline-end: none;
    margin-inline-end: 0;
    border-block-end: 0.01rem solid var(--calcite-ui-border-1);

    /* expand height to allow for its contents */
    /* block-size: auto; */
  }

  .call-to-action > div > div:last-child {
    border-block-end: none;
  }
}
