.tabs .columns {
  inline-size: 96vw;
  margin: auto;
  max-inline-size: 1440px;
  padding: 0 var(--space-6);
  text-align: center;
}

.tabs .columns > div {
  gap: 25px;
}

.tabs .columns > div > div {
  order: 0;
}

.tabs .columns > div > div:first-child {
  margin-block-end: var(--space-6);
}

.tabs .columns > div > div:nth-child(2) {
  margin-block-start: var(--space-5);
}

.tabs p:last-child {
  display: flex;
  justify-content: center;
  margin-block-end: 0;
}

.tabs .text-wrapper {
  padding: 0 5vw;
  padding-block-start: 4rem;
}

.tabs .text-wrapper :is(p, h2) {
  inline-size: 90%;
}

.tabs .text-wrapper p:first-child {
  color: var(--calcite-ui-text-2);
  font-size: var(--font-0);
  font-weight: 600;
  margin: 0;
  margin-block-end: 0.5rem;
  text-transform: uppercase;
}

.tabs .text-wrapper p:last-child {
  color: var(--calcite-ui-text-1);
  margin: 0;
  margin-block-end: 1.5rem;
}

.tabs .text-wrapper h2 {
  font-size: var(--font-8);
  margin: 0;
  margin-block-end: 0.6rem;
}

.tabs .tab-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tabs .tab-nav {
  align-items: center;
  border-block-end: 1px solid var(--calcite-ui-border-1);
  display: flex;
  inline-size: 96vw;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.tabs .tab-nav .tab-titles {
  display: flex;
  inline-size: 100%;
  justify-content: center;
  list-style-type: none;
  margin-block-end: 0;
  padding: 0;
}

.tabs .tab-nav calcite-icon {
  color: var(--calcite-ui-inverse);
}

.tabs .tab-nav .arrow-button {
  border: none;
  margin: auto 0;
  opacity: .96;
  padding: 0;
  position: absolute;
}

.tabs .tab-nav .arrow-button.left {
  inset-inline-start: 0;
}

.tabs .tab-nav .arrow-button.right {
  inset-inline-end: 0;
}

.tabs .tab-nav .tab-title {
  border-block-end: 3px solid var(--calcite-ui-brand);
  display: block;
  padding-block-end: 0;
  transition: 0.3s ease;
}

.tabs .tab-nav .tab-title button {
  background: none;
  color: var(--calcite-ui-text-1);
  font-size: var(--font-0);
  font-weight: 400;
  margin: auto;
  max-inline-size: 286px;
  padding: 1rem;
}

.tabs .tab-nav .tab-title .icon {
  margin-block-end: 10px;
}

.tabs .tab-nav .tab-title[hidden] {
  display: none;
}

.tabs .tab-nav .tab-title[aria-selected="true"] .icon {
  --image-icon-filter: var(--image-icon-filter-brand);
}

.tabs .tab-content > .grid-container {
  display: block;
  position: relative;
}

.tabs .grid-container > p:first-child img {
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  object-fit: cover;
  position: absolute;
}

.tabs .buttons-wrapper {
  inline-size: 90%;
  margin: auto;
  margin-block-start: 2rem;
}

.tabs .buttons-wrapper calcite-button {
  margin-block-end: 0.5rem;
  margin-inline-end: 0.7rem;
  padding-block-end: 0.75rem;
}

.tabs .buttons-wrapper calcite-button span {
  color: var(--calcite-ui-text-1);
}

.tabs .tab-content p:last-child picture {
  z-index: 1;
}

@media (width >= 900px) {
  .tabs {
    .columns {
      align-items: center;
      display: flex;
      min-block-size: 480px;
      text-align: start;
    }
  }
}

@media (width >= 1024px) {
  .tabs {
    .tab-component {
      position: relative;
    }

    .tab-nav {
      inline-size: 1420px;
      inset-inline: 0;
      margin: 0 auto;
      max-inline-size: 93vw;
      z-index: 2;

      .tab-title {
        border-block-end: 3px solid transparent;
        display: block;
        flex: 1;
        inset-block-start: 1px;
        position: relative;
      }

      .tab-title button {
        inline-size: 100%;
        padding: 1rem;
      }

      .tab-title[aria-selected="false"]:hover {
        border-block-end: 3px solid #0079c180;
      }

      .tab-title[aria-selected="true"] {
        border-block-end: 3px solid var(--calcite-ui-brand);
      }
    }

    .tab-content {
      & > .grid-container {
        display: grid;
        grid-template:
        "text img"
        "buttons img"
        auto / 1fr 1fr;
        min-block-size: 960px;
      }

      .buttons-wrapper {
        box-sizing: border-box;
        grid-area: buttons;
        inline-size: 100%;
        margin-block-start: 0;
        padding-inline-start: 2vw;
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;
        grid-area: text;
        justify-content: flex-end;
        padding-inline: 2vw 0;
      }
    }

    .tab-content p:last-child {
      grid-area: img;
    }

    .tab-content p:last-child picture {
      inline-size: 100%;
    }

    .tab-content p:last-child picture img {
      block-size: 100%;
      object-fit: cover;
      object-position: center;
    }

    .tab-content > .grid-container > p:first-child {
      block-size: 100%;
      inline-size: 100%;
      inset-block-start: 0;
      margin: 0;
      object-fit: cover;
      position: absolute;
      z-index: 0;
    }
  }

  .tabs.tabs-cards-variant .tab-component .tab-nav {
    border-block-end: 1px solid var(--calcite-ui-border-1);
  }
}

@media (width >= 1440px) {
  .tabs .columns {
    margin: auto;
  }

  .tabs .columns > div > div:first-child {
    inline-size: 100%;
    padding-inline-start: var(--space-16);
  }
}

@media (width >= 1480px) {
  .tabs .tab-content :is(.text-wrapper, .buttons-wrapper) {
    inline-size: 720px;
    margin-inline: auto 0;
    padding-inline-start: 0;
  }
}
