.esritext-body {
    --category-size: var(--font-minus-2);
    --title-size: var(--font-4);
    --subtitle-size: var(--font-2);
    --description-size: var(--font-0);
    --content-spacing: var(--space-2);
    --content-end-spacing: var(--space-6);
}

/* Modifies text code based on sizes */

:where(.size-7, .size-6, .size-5) .esritext-body{
    --content-spacing: var(--space-2);
    --content-end-spacing: var(--space-8);
}

:where(.size-2, .size-1, .size-0) .esritext-body{
    --content-spacing: var(--space-2);
    --content-end-spacing: var(--space-5);
}

:where(.size-4, .size-3) .esritext-body{
    --content-spacing: var(--space-2);
    --content-end-spacing: var(--space-6);
}

.size-8 .esritext-body {
    --category-size: var(--font-0);
    --title-size: var(--font-8);
    --subtitle-size: var(--font-4);
    --description-size: var(--font-2);
    --content-spacing: var(--space-3);
    --content-end-spacing: var(--space-10);
}

.size-7 .esritext-body {
    --category-size: var(--font-minus-1);
    --title-size: var(--font-7);
    --subtitle-size: var(--font-4);
    --description-size: var(--font-2);
}

.size-6 .esritext-body {
    --category-size: var(--font-minus-1);
    --title-size: var(--font-6);
    --subtitle-size: var(--font-3);
    --description-size: var(--font-2);
}

.size-5 .esritext-body {
    --category-size: var(--font-minus-1);
    --title-size: var(--font-5);
    --subtitle-size: var(--font-3);
    --description-size: var(--font-1);
}

.size-4 .esritext-body {
    --category-size: var(--font-minus-2);
    --title-size: var(--font-4);
    --subtitle-size: var(--font-2);
    --description-size: var(--font-0);
}

.size-3 .esritext-body {
    --category-size: var(--font-minus-2);
    --title-size: var(--font-3);
    --subtitle-size: var(--font-1);
    --description-size: var(--font-0);
}

.size-2 .esritext-body {
    --category-size: var(--font-minus-2);
    --title-size: var(--font-2);
    --subtitle-size: var(--font-minus-1);
    --description-size: var(--font-minus-1);
}

.size-1 .esritext-body {
    --category-size: var(--font-minus-2);
    --title-size: var(--font-1);
    --subtitle-size: var(--font-minus-1);
    --description-size: var(--font-minus-1);
}

.size-0 .esritext-body {
    --category-size: var(--font-minus-3);
    --title-size: var(--font-0);
    --subtitle-size: var(--font-minus-2);
    --description-size: var(--font-minus-1);
}

/* Icon size */
:where(.size-6, .size-7, .size-8) .esritext-image :is(img, svg) {
    inline-size: 64px;
    block-size: 64px;
}

.block.esri-text {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;

        li {
            max-width: 80ch;
            word-break: break-word;
            margin-bottom: var(--content-spacing);
        }
    }

    .esritext-image {
        img {
            block-size: 48px;
            inline-size: 48px;
        }
    }

    .esritext-body {
        p {
            color: var(--calcite-ui-text-1);
            font-size: var(--description-size);
            margin-block-end: var(--content-end-spacing);
        }

        p:nth-child(1) {
            font-weight: var(--calcite-font-weight-bold);
            text-transform: uppercase;
            color: var(--calcite-ui-text-2);
            font-size: var(--category-size);
            margin-block-end: var(--content-spacing);
        }

        h3 {
            color: var(--calcite-ui-text-1);
            font-size: var(--title-size);
            margin-block-end: var(--content-spacing);
        }

        h4 {
            color: var(--calcite-ui-text-2);
            font-size: var(--subtitle-size);
            margin-block-end: var(--content-spacing); 
        }
    }
}
