.section.sidedrawer-container {
  clear: unset;
  float: unset;
  inline-size: unset;
  inset-block-start: 150px;
  padding: 0;
  position: relative
}

.sidedrawer {
  display: none;
}

.sidedrawer-button {
  background-color: var(--calcite-ui-border-2);
  border-color: var(--calcite-ui-border-2);
  color: var(--calcite-ui-text-1);
  cursor: pointer;
  font-weight: var(--calcite-font-weight-medium);
  letter-spacing: 2px;
  margin-block-end: -50px;
  padding: calc(var(--space-3) + 4px);
  padding-inline: calc(var(--space-12) - 3px) var(--space-6);
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
  writing-mode: vertical-rl;
}

.sidedrawer-button:is(:hover, :focus) {
  background-color: var(--calcite-ui-border-2);
}

html[dir="rtl"] .sidedrawer-button {
  margin-block: -50px auto;
  margin-inline-end: 0;
  padding-inline: var(--space-6) calc(var(--space-12) + 5px);
}

.sidedrawer-wrapper .sidedrawer.block {
  transition: all 0.6s ease-out;
}

.sidedrawer-wrapper .sidedrawer-content-wrapper {
  background: var(--calcite-ui-foreground-1);
  border: 0;
  transform-origin: top left;
}

.sidedrawer-content {
  border: 0;
}

.sidedrawer-contentframe {
  background-color: var(--calcite-ui-foreground-1);
  block-size: 90.25vw;
  color: var(--calcite-ui-text-1);
  inline-size: 550px;
  max-block-size: 300px;
  max-inline-size: 95vw;
  min-block-size: 0;
  padding: 54px;
}

@media (width >= 1024px) {
  .block.sidedrawer {
    display: block;
    inset-inline-end: -2px;
    margin-inline: 99% 0;
    padding: 0;
    position: fixed;
    z-index: 999;
  }

  .sidedrawer-content[aria-expanded="false"] {
    max-inline-size: 0;
    transition: all 0.6s ease-out;
  }

  .sidedrawer-content[aria-expanded="true"] {
    inline-size: 100%;
    max-inline-size: 700px;
    transition: all 0.6s ease-out;
  }

  html[dir="rtl"] .sidedrawer {
    inset-inline: auto -2px;
  }
}
