
.about-content-wrapper {
    background-image: url("https://main--esri--aemsites.hlx.page/assets/esri-about-us-banner-background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.contact-local-office.block {
    padding: 0;
}

.about-button-wrapper {
    display: inline-block;
    margin-inline-end: var(--space-2);
    margin-block-end: var(--space-2);
}

.about-media-wrapper {
    margin: var(--space-10) auto 0;
    max-inline-size: 1050px;
    inline-size: 92%;
    position: relative;
}

.video-play-anchor  {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}   

.about-main-heading {
    font-size: var(--font-8);
    font-weight: var(--calcite-font-weight-bold);
    margin: 0 auto;
    color: var(--calcite-ui-text-1);
}

.about-heading-wrapper {
    inline-size: 90%;
    margin: 0 auto;
    padding-block-start: var(--space-10);
}

.about-media-wrapper > picture > img {
    display: block;
}

@media (width > 480px)  {
    .about-heading-wrapper {
        inline-size: 65%;
        max-inline-size: 600px;
}
}