.mosaic-reveal-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mosaic-reveal-container h2 {
  font-size: calc(100% + 6vw);
  font-style: normal;
  font-weight: var(--calcite-font-weight-medium);
  line-height: 1.1;
  margin: 0 0 var(--space-4);
}

.mosaic-reveal-container > div:first-child {
  box-sizing: border-box;
  padding: var(--space-8) 11%;
}

.mosaic-reveal {
  --calcite-ui-icon-color: var(--calcite-ui-text-1);
  --calcite-ui-text-link: var(--calcite-ui-text-1);
  --calcite-link-blue-underline: #fff6;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  position: relative;

}

.mosaic-reveal .mosaic-reveal-button,
.mosaic-reveal .mosaic-contract-button {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  block-size: 25px;
  border-color: transparent;
  content: "";
  display: block;
  inline-size: 25px;
  inset-block-end: var(--space-5);
  inset-inline-end: var(--space-5);
  margin: 0;
  padding: 0;
  position: absolute;
}

.mosaic-reveal calcite-icon {
  block-size: 20px;
  inline-size: 20px;
  inset-block-end: var(--space-1);
  inset-inline-end: var(--space-1);
  position: absolute;
}

.mosaic-reveal .mosaic-reveal-content {
  align-items: center;
  background-color: #0079c1;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  inset-block-end: 0;
  inset-inline-start: 0;
  justify-content: center;
  opacity: 1;
  position: absolute;
  transform-origin: 50% 100%;
  transition: 0.5s ease;
  visibility: visible;
  z-index: 5;
}

.mosaic-reveal .mosaic-reveal-content > :is(h3, p, p > a, .button-container) {
  inline-size: 80%;
}

.mosaic-reveal .mosaic-reveal-content > h3 {
  font-size: 1.414rem;
  font-weight: var(--calcite-font-weight-normal);
  line-height: 1.375;
  margin: 0 0 var(--space-4) 0;
}

.mosaic-reveal .mosaic-reveal-content > p:nth-child(3) {
  font-size: var(--font-minus-1);
  line-height: 1.25;
  margin-block-end: var(--space-4);
}

.mosaic-reveal .mosaic-reveal-content > p.button-container {
  background: none;
}

.mosaic-reveal .mosaic-reveal-content > p.button-container a {
  background: none;
  text-decoration: underline;
}

.mosaic-reveal .mosaic-reveal-content[hidden] {
  block-size: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mosaic-reveal > div > div:not(.mosaic-reveal-content) { /* stylelint-disable-line no-descending-specificity */
  position: relative;
}

.mosaic-reveal picture {
  block-size: calc(220px + 50vw - 180px);
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.mosaic-reveal picture img {
  block-size: 100%;
  object-fit: cover;
}

.mosaic-reveal .title {
  box-sizing: border-box;
  color: var(--calcite-ui-text-1);
  font-size: 1.2rem;
  font-weight: var(--calcite-font-weight-normal);
  inline-size: 100%;
  inset-block-end: 0;
  line-height: 1.375;
  margin: 0;
  padding: var(--space-1) var(--space-12) var(--space-4) var(--space-5);
  position: absolute;
  z-index: 2;
}

@media (width >= 480px) {
  .mosaic-reveal .title {
    padding: var(--space-3) var(--space-12) var(--space-4) var(--space-8);
  }
}

@media (width >= 560px) {
  .mosaic-reveal-container > div:first-child {
    padding: 12%;
  }

  .mosaic-reveal picture {
    block-size: 300px;
  }
}

@media (width >= 860px) {
  .mosaic-reveal > div {
    position: relative;
  }

  .mosaic-reveal picture {
    block-size: 400px;
    cursor: default;
  }

  .mosaic-reveal .title {
    padding: var(--space-3) var(--space-12) var(--space-12);
  }
}

@media (width >= 1024px) {
  .mosaic-reveal-container h2 {
    font-size: var(--font-4);
    font-weight: var(--calcite-font-weight-bold);
    line-height: 1.5;
  }
}

@media (width >= 1200px) {
  .mosaic-reveal-container {
    flex-direction: row;
  }

  .mosaic-reveal-container > div:first-child {
    flex-basis: 50%;
    inline-size: 50%;
    max-inline-size: 50%;
    padding: 6%;
  }

  .mosaic-reveal-wrapper {
    flex-basis: 50%;
    inline-size: 50%;
  }

  .mosaic-reveal .title {
    font-size: 1.414rem;
    padding: var(--space-4) var(--space-6) var(--space-12);
  }
}

@media (width >= 1450px) {
  .mosaic-reveal .title {
    padding: var(--space-3) var(--space-12) var(--space-12);
  }
}
